<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Library</title>
  </head>
  <body data-ng-app="booksApp">
    <main data-ng-controller="booksController" data-ng-init="getAll()">

      <h1>Book Shelf</h1>

      <aside data-ng-if="errors.length">
        <h2>Errors:</h2>
        <ul data-ng-repeat="error in errors">
          <li>{{error.msg}}</li>
        </ul>
        <button data-ng-click="clearErrors()">Clear All Errors</button>
      </aside>

      <div data-book-form-directive
           data-save="createNewBook(book)"
           data-button-text="'Add book to your shelf'"
           data-label-text="Add a Book">
      </div>

      <ul data-ng-repeat="book in books">
        <li>{{book.title}}, by {{book.author}} <!--this might need work -->
          <button data-ng-disabled="!book._id" data-ng-click="deleteBook(book)">Delete</button>
          <button data-ng-if="!book.editing" data-ng-disabled="!book._id" data-ng-click="startEdit(book)">Edit</button>

          <div data-book-form-directive
               data-save="saveBook(book)"
               data-button-text="'Save Changes'"
               data-label-text="Editing: "
               data-book="book"
               data-ng-if="book.editing">
            <button data-ng-click="cancelEdit(book)">Cancel</button>
          </div>

        </li>
      </ul>

    </main>
    <script src='bundle.js'></script>
  </body>
</html>
